.signup_container{
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 100px;
    gap: 50px;
}

.register_frame {
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    min-width: 400px;
    width: 400px;
    height: 800px;
    background-color: white;
    border-radius: 10px 0px 0px 10px;
    box-shadow: -5px 5px 15px -5px black;
    opacity: 0.9;
    margin-top: auto;
    
  }

.register_Area{
    width: 80%;
    position: relative;
    border-radius: 30px;
    text-align: center;
  }

  .register_Area {
    margin-top : 75px;
  }

.register_Area::before {
    content: 'REGISTER';
    position: absolute;
    top: -40px;
    color:#B1AB9A;
    left: 20px;
    font-size: 22px;
    font-weight: 700;
  }

.idInput, .pwInput, .emailInput, .serialnumberInput, .phoneInput, .nameInput, .ageInput, .timeInput{
  padding: 5px;
  width: 80%;
  margin-top: 15px;
  border: 1;
  border-radius: 10px;
  outline-style: none;
  display: inline-block;
  height: 30px;
  font-family: sans-serif;
}

.idInput:focus, .pwInput:focus, .emailInput:focus, .serialnumberInput:focus, .phoneInput:focus, .nameInput:focus{
  border-color: #B1AB9A;
  box-shadow: 0 0 10px #B1AB9A; 
  outline: none;
}

.pwChecking{
  font-size: 12px;
  opacity: 1;
  position: relative;
  top: 15px;
  -webkit-user-select:none; 
  -moz-user-select:none; 
  -ms-user-select:none; 
  user-select:none;
}

.showPw{
  margin-top: 10px;
  font-size: 12px;
  opacity: 1;
  position: relative;
  top: 2.5px;
  -webkit-user-select:none; 
  -moz-user-select:none; 
  -ms-user-select:none; 
  user-select:none;
}

.register_sbButton{
  position: relative;
  bottom: -30px;
  margin-top: 15px;
  width: 80%;
  height: 40px;
  border: none;
  font-size: 15px;
  cursor: pointer;
  border-radius: 10px;
  font-weight: 700;
  background-color : #B1AB9A; 
  color: rgb(196, 233, 255);
  transition: all ease-in-out 0.2s;
}

.register_sbButton:hover {
    background-color : #717171; 
    color: rgb(255, 255, 255);
  }

.register_terms_of_service{
    position: relative;
  }

  .btn-custom {
    background-color: #c2baa6;
    border-color: transparent;
    margin-top: 15px;
  }
  
  .btn-custom:hover {
    background-color: #B1AB9A;
    border-color: transparent;
  }